# Global
node_modules/
.DS_Store
.env
*.log

# Server
server/.env
server/uploads/
server/dist/

# Client
client/dist/
client/dist-ssr/
client/.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/scratch_db.js
server/scratch_db2.js
server/scratch_hash.js
